.table-container {
    max-width: 90%;
    margin: 0 auto;
  }
  
  .table-heading {
    background-color: #e0eff9;
    border: 2px solid black;
    padding: 20px;
    font-family: Geneva, sans-serif;
    font-size: 3vh;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
  }
  
  .table th,
  .table td {
    text-align: center;
    padding: 10px;
  }
  
  .p-paginator {
    text-align: center;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .table-heading {
      font-size: 2.5vh;
    }
  }
  