<app-agent-navbar></app-agent-navbar>

<div class="card flex justify-content-center" >
    <p-sidebar [(visible)]="sidebarVisible" [style]="{marginTop:'96px',background:'#09203F',color:'white',width:'15rem'}" >
        <ng-template pTemplate="header">
          
        </ng-template>
        <ng-template pTemplate="content">
            <button type="button" (click)="dashboard()" ><i class="pi pi-align-justify"></i> Dashboard</button><br>
            <button type="button" (click)="profile()"><i class="pi pi-sign-out"></i> profile</button><br>
            <button type="button" (click)="addSlot()"><i class="pi pi-book"></i> AddSlot</button><br>
            <button type="button" (click)="Appontments()"><i class="pi pi-sign-out"></i> Appointments</button><br>
            <button type="button" (click)="chat()"><i class="pi pi-sign-out"></i> chat</button><br>
            <button type="button" (click)="logout()"><i class="pi pi-sign-out"></i> Logout</button><br>
           
        </ng-template>
        <ng-template pTemplate="footer">Footer Content</ng-template>
    </p-sidebar>
    <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
</div>

<app-add-slot *ngIf="addpost"></app-add-slot>
<app-agent-profile-page *ngIf="profilepage"></app-agent-profile-page>
<app-agent-appointments *ngIf="showappointments"></app-agent-appointments>

