.container {
    display: flex;
    height: 70vh;
    font-family: Arial, sans-serif;
}

.user-list {
    flex: 1;
    border-right: 1px solid #ccc;
    padding: 20px;
    overflow-y: auto; /* Enable scrolling */
}

.user-list h2 {
    margin-top: 0;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-list .user {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f3f3f3;
    border-radius: 5px;
}

.user-list .user:hover {
    background-color: #eaeaea;
}

.chat-window {
    flex: 3;
    display: flex;
    flex-direction: column;
}

/* Styles for the messages */
.messages {
    flex-grow: 1;
    overflow-y: auto; /* Enable scrolling */
    padding: 20px;
    
}

.message {
    background-color: #dcf8c6; /* Light green for user messages */
    border-radius: 10px;
    padding: 8px 12px;
    margin-bottom: 10px;
    max-width: 70%; /* Adjust as needed */
    align-self: flex-start; /* Align user messages to the left */
}

.message.sent {
    background-color: #e2e2e2; /* Light grey for recipient messages */
    align-self: flex-end; /* Align recipient messages to the right */
}

/* Styles for the input area */
.input-area {
    display: flex;
    align-items: center;
    padding: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}