<app-agent-navbar></app-agent-navbar>
<div class="container">
    <div class="user-list">
        <h2>Users</h2>
        <ul>
            <li *ngFor="let user of users">
                <div class="user" (click)="openChatRoom(user._id)">{{ user.users.firstName }}</div>
            </li>
        </ul>
    </div>
    <div class="chat-window">
        <div class="messages" #messageContainer>
            <div class="message" *ngFor="let message of chats" [ngClass]="{'sent': message.sender !== null}">
                {{ message.content }}
            </div>
        </div>
        <div class="input-area">
            <input type="text" placeholder="Type a message..." [(ngModel)]="messageText">
            <button (click)="onSubmit(messageText)" style="background-color: rgb(21, 2, 38); color:white">Send</button>
        </div>
    </div>
</div>
