<app-agent-navbar></app-agent-navbar>
<div class="container" style="margin-bottom: 20px;">
    <div class="user-list" >
        <h2>Users</h2>
        <ul>
            <li *ngFor="let user of users; let i=index">
                <div class="user" (click)="openChatRoom(user._id,user.users._id)">{{ user.users.firstName }} <span  *ngIf="user.users._id==senderId">  <span class="badge " style="background-color: red;">1</span></span></div>
            </li>
        </ul>
    </div>
    <div class="chat-window" >
        <div class="messages" #messageContainer  >
            <div class="message"  *ngFor="let message of chats" [ngClass]="{'sent': message.sender !== null}">
                {{ message.content }}  <span style="font-size:x-small;">{{ message.createdAt | date: 'shortTime' }}</span>
            </div>
        </div>
        <div class="input-area">
            <input type="text" placeholder="Type a message..." [(ngModel)]="messageText">
            <button (click)="onSubmit(messageText)" style="background-color: rgb(3, 106, 29); color:white">Send</button>
        </div>
    </div>
    <div style="margin-left: 30px;">
        <label style="margin-top: 20px; color:white; font-size: x-large;">start a video chat</label><br><br>
        <input type="text" [(ngModel)]="roomId" placeholder="enter random roomId">
        <button (click)="enterRoom()" class="btn button-primary">submit </button>
    </div>
</div>
<app-agent-footer></app-agent-footer>

