<app-navbar></app-navbar>
<nav id="sidebar">
  <div class="sidebar-header">
    <h1 >User Panel</h1>
  </div>

  <ul class="list-unstyled components">
    <li *ngIf="!hideSidebar">
      <a routerLink="/admin/dashboard"><i class="pi pi-align-justify" style="font-size: 1rem"></i> Dashboard</a>
    </li>
    <li *ngIf="!hideSidebar">
      <a routerLink="/admin/users"><i class="pi pi-users" style="font-size: 1rem"></i> Agents</a>
    </li>
    <li *ngIf="!hideSidebar">
      <a routerLink="/admin/posts"><i class="pi pi-prime" style="font-size: 1rem"></i> Profile</a>
    </li>
    <li *ngIf="!hideSidebar">
      <button (click)="logout()" ><i class="pi pi-power-off" style="font-size: 1rem"></i> Logout</button>
    </li>
  </ul>
</nav>