<app-navbar></app-navbar>
<div class="card flex justify-content-center">
  <p-sidebar
    [(visible)]="sidebarVisible"
    [style]="{
      marginTop: '96px',
      background: '#09203F',
      color: 'white',
      width: '15rem'
    }"
  >
    <ng-template pTemplate="header"> </ng-template>
    <ng-template pTemplate="content">
      <button type="button" (click)="dashboard()">
        <i class="pi pi-align-justify"></i> Dashboard</button
      ><br /><br />
      <button type="button" (click)="profile()">
        <i class="pi pi-prime"></i> profile</button
      ><br /><br />
      <button type="button" (click)="Appointments()">
        <i class="pi pi-align-justify"></i> Appointments</button
      ><br /><br />
      <button type="button" (click)="logout()">
        <i class="pi pi-sign-out"></i> Logout</button
      ><br /><br />
    </ng-template>
    <ng-template pTemplate="footer">Footer Content</ng-template>
  </p-sidebar>
  <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
</div>

<!-- dashboard showing code -->
<div class="dashboard" *ngIf="showdashboard">
  <!-- Wallet Balance Section -->
  <div class="wallet-section border border-red rounded-lg p-4 ml-30 ">
    <p class="text-lg font-bold mb-2 text-black">Wallet Balance</p>
    <div class="wallet flex items-center justify-center">
      <p class="text-4xl font-bold text-black">{{ user[0].wallet }}</p>
    </div>
  </div>
  
  <!-- Transaction History Section -->
  <div class="transaction-section bg-black text-white shadow-md rounded-lg mt-8 mx-4 p-6">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold">Transaction History</h2>
      <p-paginator [rows]="5" [totalRecords]="transactionCount" (onPageChange)="transactionpaginate($event)" *ngIf="showdashboard"></p-paginator>
    </div>
    <div class="overflow-x-auto">
      <table class="w-full border-collapse border border-gray-800">
        <thead>
          <tr>
            <th class="px-4 py-2 bg-gray-800">Sl No</th>
            <th class="px-4 py-2 bg-gray-800">Amount</th>
            <th class="px-4 py-2 bg-gray-800">Agent Name</th>
            <th class="px-4 py-2 bg-gray-800">Date</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of transactions; let i = index">
            <tr class="{{ i % 2 === 0 ? 'bg-gray-700' : 'bg-gray-800' }}">
              <td class="px-4 py-2 border border-gray-800">{{ i + 1 }}</td>
              <td class="px-4 py-2 border border-gray-800">
                <ng-container *ngIf="data.paidamount; else refundAmount">{{ 'Rupees ' + data.paidamount }}</ng-container>
                <ng-template #refundAmount>{{ 'Refunded Rupees ' + data.refundamount }}</ng-template>
              </td>
              <td class="px-4 py-2 border border-gray-800">{{ data.agentId?.firstName + ' ' + data.agentId?.lastName }}</td>
              <td class="px-4 py-2 border border-gray-800">{{ data.createdAt | date }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>



<!-- profile displaying code-->
<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mr-3 ml-3 mt-5 mb-5">
  <div class="myprofile">
    <div class="show-profile ml-5" *ngIf="showprofile">
      <div
        class="flex flex-col items-start justify-start border-2 border-black w-96 p-4"
        *ngFor="let user of user"
      >
        <img
          src="{{ user.image }}"
          alt="User Image"
          class="w-32 h-32 rounded-full mb-4"
        />
        <h2 class="text-xl font-bold mb-2">
          {{ user.firstName }} {{ user.lastName }}
        </h2>
        <p class="text-sm text-gray-500 mb-4">{{ user.category }}</p>
        <div class="flex">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4"
            (click)="editprofile()"
          >
            Edit Profile
          </button>
          <button
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="logout()"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="editprofile">
    <div class="border-2 border-black p-4" *ngIf="editMode">
      <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <label class="block mb-2">
          First Name:
          <input
          type="text"
          class="border border-gray-400 px-4 py-2 w-full mt-1"
          value="{{filedvalue}}"
          formControlName="firstName"
        />
        
        </label>
        <label class="block mb-2">
          Last Name:
          <input
            type="text"
            class="border border-gray-400 px-4 py-2 w-full mt-1"
           
            formControlName="lastName"
          />
        </label>
        <label class="block mb-2">
          Image:
          <input type="file" class="border border-gray-400 px-4 py-2 w-full mt-1" (change)="onFileSelect($event)" accept="image/*" >

        </label>
        <button
          type="submit"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >
          Save
        </button>
        <button
          type="button"
          class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
          (click)="cancelEdit()"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>

<!-- show Appointments -->
<div class="container" *ngIf="showappointments">
  <h1 class="header">Appointments</h1>

  <div class="flex items-center mb-4">
    <label for="statusSelect" class="mr-2">Filter by Status:</label>
    <select id="statusSelect"
            class="border border-gray-300 p-2 rounded-md"
            [(ngModel)]="selectedOption"
            (change)="bookings(selectedOption)">
      <option value="All" selected>All</option>
      <option value="pending">Pending</option>
      <option value="confirmed">Confirmed</option>
      <option value="consulted">Consulted</option>
      <option value="cancelled">Cancelled</option>
      <option value="agent cancelled">Agent Cancelled</option>
    </select>
  </div>

  <div class="user-table">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Agent Name</th>
          <th scope="col">Category</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of userbookings">
          <tr>
            <td>{{ data.date | date }}</td>
            <td>{{ data.time }}</td>
            <td>{{ data.agentId.firstName }}</td>
            <td>{{ data.agentId.category }}</td>
            <td>{{ data.status }}</td>
            <td>
              <button *ngIf="data.status === 'confirmed'"
                      class="btn btn-danger"
                      (click)="cancelbooking(data._id, data.userId, data.status, data.paymentId, data.slotId)">
                Cancel
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <p-paginator [rows]="5" [totalRecords]="recordCount" (onPageChange)="paginate($event)" *ngIf="showappointments"></p-paginator>
  </div>
</div>

<app-footer  *ngIf="footervisible"></app-footer>
