<app-navbar></app-navbar>
<div class="card flex justify-content-center">
  <p-sidebar
    [(visible)]="sidebarVisible"
    [style]="{
      marginTop: '96px',
      background: '#09203F',
      color: 'white',
      width: '15rem'
    }"
  >
    <ng-template pTemplate="header"> </ng-template>
    <ng-template pTemplate="content">
      <button type="button" (click)="dashboard()">
        <i class="pi pi-align-justify"></i> Dashboard</button
      ><br /><br />
      <button type="button" (click)="profile()">
        <i class="pi pi-prime"></i> profile</button
      ><br /><br />
      <button type="button" (click)="Appointments()">
        <i class="pi pi-align-justify"></i> Appointments</button
      ><br /><br />
      <button type="button" (click)="logout()">
        <i class="pi pi-sign-out"></i> Logout</button
      ><br /><br />
    </ng-template>
    <ng-template pTemplate="footer">Footer Content</ng-template>
  </p-sidebar>
  <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
</div>

<!-- dashboard showing code -->

<div class="dashboard" *ngIf="showdashboard">
  <div class="flex justify-center items-center h-full">
    <div
      class="wallet w-60 h-28 border-2 border-red bg-yellow-100 flex items-center justify-center mt-20"
    >
      <p>Wallet balance is {{user[0].wallet}}</p>
    </div>
  </div>
</div>

<!-- profile displaying code-->
<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mr-3 ml-3 mt-5">
  <div class="myprofile">
    <div class="show-profile ml-5" *ngIf="showprofile">
      <div
        class="flex flex-col items-start justify-start border-2 border-black w-96 p-4"
        *ngFor="let user of user"
      >
        <img
          src="{{ user.image }}"
          alt="User Image"
          class="w-32 h-32 rounded-full mb-4"
        />
        <h2 class="text-xl font-bold mb-2">
          {{ user.firstName }} {{ user.lastName }}
        </h2>
        <p class="text-sm text-gray-500 mb-4">{{ user.category }}</p>
        <div class="flex">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4"
            (click)="editprofile()"
          >
            Edit Profile
          </button>
          <button
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="logout()"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="editprofile">
    <div class="border-2 border-black p-4" *ngIf="editMode">
      <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <label class="block mb-2">
          First Name:
          <input
          type="text"
          class="border border-gray-400 px-4 py-2 w-full mt-1"
          value="{{user[0].firstName}}"
          formControlName="firstName"
        />
        
        </label>
        <label class="block mb-2">
          Last Name:
          <input
            type="text"
            class="border border-gray-400 px-4 py-2 w-full mt-1"
           
            formControlName="lastName"
          />
        </label>
        <label class="block mb-2">
          Image:
          <input type="file" class="border border-gray-400 px-4 py-2 w-full mt-1" (change)="onFileSelect($event)" accept="image/*" >

        </label>
        <button
          type="submit"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >
          Save
        </button>
        <button
          type="button"
          class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
          (click)="cancelEdit()"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>

<!-- show Appointments -->

<div *ngIf="showappointments">
  <!-- Search Field -->

  <div class="w-70 h-20 bg-red-50 p-8">
    <div class="mb-4">
      <select
        class="border border-gray-300 p-2 rounded-md"
        [(ngModel)]="selectedOption"
        (change)="bookings(selectedOption)"
      >
        <option value="All" selected>All</option>
        <option value="pending">Pending</option>
        <option value="confirmed">Confirmed</option>
        <option value="consulted">Consulted</option>
        <option value="cancelled">Cancelled</option>
        <option value="agent cancelled">agent cancelled</option>
      </select>
    </div>
    <!-- Table -->
    <div class="overflow-x-auto">
      <table class="min-w-full">
        <thead>
          <tr>
            <th
              class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            >
              Date
            </th>
            <th
              class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            >
              Time
            </th>
            <th
              class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            >
              Agent Name
            </th>
            <th
              class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            >
              Category
            </th>
            <th
              class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            >
              Status
            </th>
            <th class="px-6 py-3 bg-gray-50"></th>
            <!-- Empty header for Cancel button column -->
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let innerArray of userbookings">
            <tr
              *ngFor="let data of innerArray"
              class="border-t border-gray-200"
            >
              <td class="px-6 py-4 whitespace-no-wrap">
                {{ data.date | date }}
              </td>
              <td class="px-6 py-4 whitespace-no-wrap">{{ data.time }}</td>
              <td class="px-6 py-4 whitespace-no-wrap">
                {{ data.agentId.firstName }}
              </td>
              <td class="px-6 py-4 whitespace-no-wrap">
                {{ data.agentId.category }}
              </td>
              <td class="px-6 py-4 whitespace-no-wrap">{{ data.status }}</td>
              <td class="px-6 py-4 whitespace-no-wrap">
                <button
                  type="button"
                  class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-md"
                  *ngIf="data.status === 'confirmed'"
                  (click)="cancelbooking(data._id, data.userId, data.status,data.paymentId,data.slotId)"
                >
                  Cancel
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  


</div>
