
<div class="card flex justify-content-center">
    <p-sidebar [(visible)]="sidebarVisible" [style]="{background:'#09203F'}">
        <ng-template pTemplate="header"></ng-template>
        <ng-template pTemplate="content">
            <button type="button" (click)="dashboard()" ><i class="pi pi-align-justify"></i> Dashboard</button><br>
            <button type="button" (click)="userdetails()"><i class="pi pi-user"></i> UserManagement</button><br>
            <button type="button" (click)="admindetails()"> <i class="pi pi-users"></i> AgentManagement</button><br>
            <button type="button"><i class="pi pi-book"></i> Appointments</button><br>
            <button type="button" (click)="logout()"><i class="pi pi-sign-out"></i> Logout</button>

        </ng-template>
        <ng-template pTemplate="footer">Footer Content</ng-template>
    </p-sidebar>
    <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
</div>

<app-admin-dashboard *ngIf="visibility"></app-admin-dashboard>
<app-admin-showalluser *ngIf="visibility"></app-admin-showalluser>