<app-navbar></app-navbar>

<div class="main-content">
  <div class="sidebar-container" *ngIf="showsidebar">
    <div class="card flex justify-content-center">
      <p-sidebar [(visible)]="sidebarVisible" [style]="{marginTop:'96px',background:'#09203F',color:'white',width:'15rem'}">
        <ng-template pTemplate="header">
        </ng-template>
        <ng-template pTemplate="content">
          <button type="button" (click)="searchagent('football')"><i class="pi pi-align-justify"></i> FOOTBALL</button><br><br>
          <button type="button" (click)="searchagent('cricket')"><i class="pi pi-sign-out"></i> CRICKET</button><br><br>
          <button type="button" (click)="searchagent('badminton')"><i class="pi pi-align-justify"></i> BADMINTON</button><br><br>
          <button type="button" (click)="searchagent('hockey')"><i class="pi pi-sign-out"></i> HOCKEY</button><br><br>
          <button type="button" (click)="searchagent('volleyball')"><i class="pi pi-align-justify"></i> VOLLEYBALL</button><br><br>
          <button type="button" (click)="searchagent('basketball')"><i class="pi pi-sign-out"></i> BASKETBALL</button><br><br>
        </ng-template>
        <ng-template pTemplate="footer">Footer Content</ng-template>
      </p-sidebar>
      <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
    </div>
  </div>

  <div *ngIf="visible" class="search-results">
    <div class="search-bar">
      <div class="relative">
        <input type="search" #inpname (keydown)="onKeyDownEvent($event)" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search agents">
      </div>
    </div>

    <div class="agent-cards grid grid-cols-1 md:grid-cols-3 gap-4 ml-10">
      <div *ngFor="let agent of agents; let i = index" class="agent-card">
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="flex justify-end px-4 pt-4">
            <button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
              <span class="sr-only">Open dropdown</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
              </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2" aria-labelledby="dropdownButton">
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export Data</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex flex-col items-center pb-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{{agent.image}}" alt="Bonnie image"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-black">{{agent.firstName}} {{agent.lastName}}</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">{{agent.category}}</span>
            <div class="flex mt-4 md:mt-6">
              <a  class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-indigo-500 border border-transparent rounded-lg shadow-sm hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" (click)="getagent(agent._id)">
                Book a Slot
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-agent-details [searchagentdata]="agentdata" *ngIf="showcomponent"></app-agent-details>

<app-footer></app-footer>
