<div class="container mx-auto p-6 grid grid-cols-2">
    <div>
      <div class="bg-gray-600 shadow-md rounded-lg p-6">
        <h1 class="text-2xl font-semibold text-gray-100">Agent Profile</h1>
        <div class="mt-4">
          <div class="grid grid-cols-2 gap-4">
            <div>
              <label class="block text-gray-300 text-sm font-bold mb-2">Image</label>
              <img [src]="agentdetails.image" class="w-40 h-40 rounded" alt="Agent Image">
            </div>
            <div>
              <div>
                <label class="block text-gray-300 text-sm font-bold mb-2">Full Name:</label>
                <p class="text-gray-100">{{ agentdetails.firstName }} {{ agentdetails.lastName }}</p>
              </div>
              <div>
                <label class="block text-gray-300 text-sm font-bold mb-2">Email:</label>
                <p class="text-gray-100">{{ agentdetails.email }}</p>
              </div>
              <div>
                <label class="block text-gray-300 text-sm font-bold mb-2">Category:</label>
                <p class="text-gray-100">{{ agentdetails.category }}</p>
              </div>
              <div>
                <label class="block text-gray-300 text-sm font-bold mb-2" *ngIf="agentdetails.experience">Experience:</label>
                <p class="text-gray-100" *ngIf="agentdetails.experience">{{ agentdetails.experience }}</p>
            </div>
            <div>
                <label class="block text-gray-300 text-sm font-bold mb-2" *ngIf="agentdetails.clubConnections">Club Connections:</label>
                <p class="text-gray-100" *ngIf="agentdetails.clubConnections">{{ agentdetails.clubConnections }}</p>
            </div>
            
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 justify-between mt-6">
          <div>
            <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="showEditOptions = !showEditOptions">Edit</button>
          </div>
          <div>
            <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="logoutAgent()">Logout</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="showEditOptions" class="ml-10 border border-black p-6">
        <h2 class="text-xl font-semibold text-gray-900 mb-4">Edit Profile</h2>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="mb-4">
            <label for="firstName" class="block text-gray-700 text-sm font-bold mb-2">First Name</label>
            <input type="text" formControlName="firstName" id="firstName"  class="border border-gray-400 px-4 py-2 w-full">
          </div>
          <div class="mb-4">
            <label for="lastName" class="block text-gray-700 text-sm font-bold mb-2">Last Name</label>
            <input type="text" formControlName="lastName" id="lastName" class="border border-gray-400 px-4 py-2 w-full">
          </div>

          <div class="mb-4">
            <label for="image" class="block text-gray-700 text-sm font-bold mb-2">Image</label>
            <input type="file"  id="image" (change)="onFileSelect($event)" class="border border-gray-400 px-4 py-2 w-full" accept="image/*">
          </div>
          <div class="mb-4">
            <label for="category" class="block text-gray-700 text-sm font-bold mb-2">Category</label>
            <input type="text" formControlName="category" id="category"  class="border border-gray-400 px-4 py-2 w-full">
          </div>
          <div class="mb-4">
            <label for="experience" class="block text-gray-700 text-sm font-bold mb-2">Experience</label>
            <textarea formControlName="experience" id="experience"  class="border border-gray-400 px-4 py-2 w-full"></textarea>
          </div>
          <div class="mb-4">
            <label for="clubConnections" class="block text-gray-700 text-sm font-bold mb-2">Club Connections</label>
            <textarea formControlName="clubConnections" id="clubConnections"  class="border border-gray-400 px-4 py-2 w-full"></textarea>
          </div>
          <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Save</button>
          <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="canceleditoption()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  