.container {
    max-width: 90%;
    margin: 0 auto;
  }
  
  .header {
    background-color: #e0eff9;
    border: 2px solid black;
    padding: 20px;
    font-family: Geneva, sans-serif;
    font-size: 3vh;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .user-table {
    width: 100%;
  }
  
  .user-table th,
  .user-table td {
    text-align: center;
    padding: 10px;
  }
  
  .btn {
    padding: 8px 20px;
    margin: 5px;
    font-size: 1rem;
  }
  
  @media (max-width: 768px) {
    .header {
      font-size: 2.5vh;
    }
  }
  