<h1 style="background-color:#e0eff9; border:2px dolid-black;padding:10px;font-family: Geneva, sans-serif;
font-size: 6vh; text-align: center;" class="container">USER MANAGEMT</h1>
<input type="text" placeholder="Search users..." (keyup)="searchUsers($event)"/>

<table class="table table-striped table-dark  container mt-10">
    <thead>
      <tr>
        <th scope="col" style="color:black">sl no</th>
        <th scope="col" style="color:black">FirstName</th>
        <th scope="col" style="color:black">LastName</th>
        <th scope="col" style="color:black">Email</th>
        <th scope="col" style="color:black">Category</th>
        <th scope="col" style="color:black">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.category }}</td>
     
       
  
        <td>
          <button
            *ngIf="!user.is_blocked"
            class="btn btn-success"
            (click)="block(user)"
          >
            Block
          </button>
          <button
            *ngIf="user.is_blocked"
            class="btn btn-danger"
            (click)="block(user)"
          >
            Unblock
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <p-paginator [rows]="5" [totalRecords]="totalrecords"  (onPageChange)="paginate($event)"></p-paginator>