<div class="container mx-auto px-4 py-8">
    <div class="max-w-md mx-auto">
      <label for="date" class="block text-lg font-medium text-gray-700 mb-4">Select the start date</label>
      <div class="flex items-center mb-6">
        <p-calendar
          [(ngModel)]="date"
          #selecteddate
          [minDate]="mindate"
          dateFormat="dd/mm/yy"
          [readonlyInput]="true"
          dataType="string"
          class="w-full"
        ></p-calendar>
      </div>
    </div>
    <div class="max-w-md mx-auto">
        <label for="date" class="block text-lg font-medium text-gray-700 mb-4">Select the ending date</label>
        <div class="flex items-center mb-6">
          <p-calendar
            [(ngModel)]="endDate"
            #enddate
            [minDate]="mindate"
            dateFormat="dd/mm/yy"
            [readonlyInput]="true"
            dataType="string"
            class="w-full"
          ></p-calendar>
        </div>
      </div>
  
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <h2>Select Time</h2>

        <form id="timeForm">
          <label for="hours">Hours:</label>
          <select id="hours" name="hours">
            <!-- Generate options for hours from 1 to 24 -->
            <!-- You can also use JavaScript to generate these options dynamically -->
            <option value="1">01</option>
            <option value="2">02</option>
            <!-- Add more options here -->
            <option value="24">24</option>
          </select>
          
          <label for="minutes">Minutes:</label>
          <select id="minutes" name="minutes" >
            <option value="00">00</option>
            <option value="01">01</option>
            <!-- Add more options here -->
            <option value="59">59</option>
          </select>
          
          <button type="submit">Submit</button>
        </form>
        
        <button style="background-color:#09203F;"
        class="block text-white px-4 py-2 rounded-md w-full text-center mb-10 mr-5 hover:bg-indigo-700 transition duration-300 ease-in-out"
        (click)="senddateandtime(selecteddate.value,enddate.value )"
      >
        click
      </button>
      </div>
      <div>
        <div class="max-w-md mx-auto">
          <div class="max-w-lg mx-auto">
          
        </div>
        
      </div>
    </div>
  </div>
  
