<div class="form-group container" >
    <ul id="listOfMessages" #messageContainer>
        <li class="singleMessage sent" *ngFor="let message of messages">
            {{message.content}}
        </li>
    </ul>
  
    <form (ngSubmit)="onSubmit()" action=""> 
        <div class="form-group mb-3">
            <input class="form-control input" type="text" autocomplete="off" required [(ngModel)]="message" name="message">
            <button type="submit" class="btn btn-outline-secondary button-css">Send Message</button>
        </div>
    </form>
</div>