
<app-navbar></app-navbar>

<div class="container">
    <ul id="listOfMessages" #messageContainer class="messages">
        <li class="singleMessage" *ngFor="let message of messages" [ngClass]="{'sent': message.sender !== null, 'received': message.sender === null}">
            <span>{{ message.content }}   {{ message.createdAt | date: 'shortTime' }}</span>
        </li>
    </ul>
  
    <form (ngSubmit)="onSubmit()" action=""> 
        <div class="input-group mb-3">
            <input class="form-control input" type="text" autocomplete="off" required [(ngModel)]="message" name="message">
            <button type="submit" class="btn btn-outline-secondary button-css">Send</button>
        </div>
    </form>
</div>

<app-footer></app-footer>