<label for="date">select the date</label>
<div class="card flex justify-content-center" id="add-date">
  <p-calendar
    [(ngModel)]="date"
    #selecteddate
    [minDate]="mindate"
    dateFormat="dd/mm/yy"
    [readonlyInput]="true"
    (onSelect)="selectedDate($event)"
    dataType="string"
  ></p-calendar>
</div>

<div>
  <div class="row" style="padding-top: 20px">
    <div class="col md-10 sm-10 xl-10"></div>
    <div class="col md-2 sm-2 xl-2">
      <label for="" class="col md-10 sm-10 xl-10" style="padding-bottom: 10px">
        select time</label
      >
      <ul *ngFor="for; let time; of: available_time">
        <option
          value="{{ time }}"
          style="
            background-color: rgb(106, 106, 221);
            width: 150px;
            margin-bottom: 2px;
            text-align: center;
          "
          (click)="senddateandtime(selecteddate.value, time)"
        >
          {{ time }}
        </option>
      </ul>
    </div>
  </div>
</div>
