<app-navbar></app-navbar>

<div class="container">
  <div class="login">
    <div class="container">
      <form
        [formGroup]="profileForm"
        (ngSubmit)="onSubmit()"
        #myform="ngForm"
        class="max-w-md mx-auto flex flex-col space-y-4"
      >
        <h1>User Register</h1>
        <input
          id="first-name"
          type="text"
          formControlName="firstName"
          placeholder="First Name"
        />
        <div
          *ngIf="hasError('firstName', 'required') && myform?.submitted"
          class="text-red-500"
        >
          First name is required.
        </div>
        <input
          id="last-name"
          type="text"
          formControlName="lastName"
          placeholder="Last Name"
        />
        <div
          *ngIf="hasError('lastName', 'required') && myform?.submitted"
          class="text-red-500"
        >
          Last name is required.
        </div>

        <input type="email" placeholder="Email" formControlName="email" />
        <div *ngIf="hasError('email', 'required') && myform?.submitted" class="text-red-500">Email is required.</div>
        <div *ngIf="hasError('email', 'email') && myform?.submitted" class="text-red-500">Please enter a valid email.</div>

        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <div
          *ngIf="hasError('password', 'required') && myform?.submitted"
          class="text-red-500"
        >
          Password is required.
        </div>
        <div
          *ngIf="hasError('password', 'minlength') && myform?.submitted"
          class="text-red-500"
        >
          Password should be at least 6 characters long.
        </div>
        <input
          id="confirm_password"
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
        <div
          *ngIf="hasError('confirmPassword', 'required') && myform?.submitted"
          class="text-red-500"
        >
          Confirm Password is required.
        </div>
     
        <input
          id="image"
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
        <div
          *ngIf="hasError('image', 'required') && myform?.submitted"
          class="text-red-500"
        >
          Image is required.
        </div>

        <label for="category">Select a category</label>
        <select id="category" formControlName="category">
          <option value="football">FOOTBALL</option>
          <option value="cricket">CRICKET</option>
          <option value="badminton">BADMINTON</option>
          <option value="basketball">BASKETBALL</option>
          <option value="hockey">HOCKEY</option>
          <option value="volleyball">VOLLEYBALL</option>
        </select>
        <div
          *ngIf="hasError('category', 'required') && myform?.submitted"
          class="text-red-500"
        >
          Category is required.
        </div>

        <button type="submit"  [disabled]="submitbattonhandle">Register new account</button>
      </form>

      <ul>
        <li><i class="fab fa-facebook-f fa-2x"></i></li>
        <li><i class="fab fa-twitter fa-2x"></i></li>
        <li><i class="fab fa-github fa-2x"></i></li>
        <li><i class="fab fa-linkedin-in fa-2x"></i></li>
      </ul>
    </div>
  </div>

  <div class="register">
    <div class="container">
      <i class="fas fa-user-plus fa-5x"></i>
      <img src="/assets/images/tt.jpg" alt="">
      <h2>Hello, friend!</h2>
      <p>Enter your personal details to start your journey with us.</p>
      <button><a routerLink="/user/login">Go to Login <i class="fas fa-arrow-circle-right"></i></a></button> 
    </div>
  </div>
</div>
