

<div class="grid grid-cols-3 gap-4 ml-5 mr-5 py-5" >

    <div class="bg-gradient-to-br from-gray-200 via-gray-300 to-white p-4 border-3 border-black items-center text-center shadow-xl hover:bg-gray-400 hover:shadow-2xl">Total users are {{usercount}}</div>

    <div class="bg-gradient-to-br from-gray-200 via-gray-300 to-white p-4 border-3 border-black items-center text-center shadow-xl hover:bg-gray-400 hover:shadow-2xl">Total agents are {{agentcount}}</div>

    <div class="bg-gradient-to-br from-gray-200 via-gray-300 to-white p-4 border-3 border-black items-center text-center shadow-xl hover:bg-gray-400 hover:shadow-2xl">Total earnings is 270000 </div>
  </div>
  